<header>
	<h3>{{ title }}</h3>
	<nav>
		<ul>
			<li><a href="/">Home</a></li>
			{{#if loggedIn}} 
				<li><a href="/games">Games</a></li>
				<li><a href="/my-profile">My profile</a></li>
			{{/if}}
		</ul>
	</nav>
</header>