<form action="login" method="POST">
	{{#if wrongUsername}}
		<label class="label-error" for="username">Username</label>
		<input class="input-error" type="text" name="username" id="username">
	{{else}}
		<label for="username">Username</label>
		<input type="text" name="username" id="username">
	{{/if}}

	
	{{#if wrongPassword}}
		<label class="label-error" for="password">Password</label>
		<input class="input-error" type="password" name="password" id="password">
	{{else}}
		<label for="password">Password</label>
		<input type="password" name="password" id="password">
	{{/if}}
	<button type="submit">Login</button>
	<p><a href="create-account">I haven't created an account yet</a></p>
</form>

