<form action="login" method="POST">
	
	<label for="username">Username</label>
	<input type="text" name="username" id="username">
	{{#if wrongPassword}}
		<label class="login-error" for="password">Password</label>
		<input class="login-error" type="password" name="password" id="password">
	{{else}}
		<label for="password">Password</label>
		<input type="password" name="password" id="password">
	{{/if}}
	<button type="submit">Login</button>
</form>
<p><a href="create-account">I haven't created an account yet</a></p>
