<!DOCTYPE html>
<html>
<head>
<%- include('../partials/Head.ejs') -%>
<link rel="stylesheet" href="css/styles.css">
</head>

<body>
	<%- include('../partials/Header.ejs') %>
	<main><%- body %></main>
	<%- include('../partials/Footer.ejs') %>
</body>

<script src="js/main.js"></script>

</html>