:root {
	--spacing: 3em;
	--padding: 1em;
	--margin: 1em;
}

* {
	box-sizing: border-box;
	line-height: 1.5;
	font-family: 'Poppins';
}

body {
	margin: 0;
}

h1, h2 {
	font-weight: 700;
}

h3, h4, h5, h6 {
	font-weight: 500;
}

p, input, select, button {
	font-weight: 400;
}

a {
	color: black;
}

input, select {
	border-radius: 8px;
	font-size: 1em;
	margin-bottom: 1em;
	padding: 0.2em;
	border: solid black 2px;
}

form {
	display: flex;
	flex-direction: column;
	background-color: white;
	box-shadow: 8px 8px 100px rgba(0,0,0,0.3);
	border-radius: 8px;
	overflow: hidden;
	padding: 1em;
	max-width: 30em;
	margin: 0 auto;
}

button {
	background-color: black;
	padding: 1em;
	border: none;
	color: white;
	font-weight: 500;
	margin: 1em 0;
	border-radius: 8px;
}



main {
	padding: 1em;
	margin: 0;
}

.input-error {
	border-color: red;
}

.label-error {
	color: red;
	font-weight: 500;
}

.error-message {
	margin: 0;
	font-size: 0.8em;
	color: red;
}
.double-btn {
	display: flex;
}
.double-btn button {
	flex: 1 1 100%;
	margin: 0;
}

.double-btn button:first-child {
	margin-right: 1em;
}

header {
	display: flex;
	justify-content: space-between;
	background-color: black;
	color: white;
	align-items: center;
	padding: 0 1em;
}

header ul {
	display: flex;
	list-style: none;
	margin: 0;
}

header ul li {
	padding: 1em;
}
header ul li a { 
	color: white;
}
header h3 {
	margin: 0;
}

.games-list {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: space-around;
}
.game-card {
	background-color: white;
	padding: 1em;
	box-shadow: 0px 0px 30px rgba(0,0,0,0.3);
	max-height: 25em;
	margin-bottom: 1em;
	border-radius: 8px;
	flex: 1 1 calc(33% - 2em);
	transition: all 1s ease;
	max-width: 100%;
	min-width: calc(33% - 2em);
}

.game-card:nth-child(3n+1) {
	margin-right: 1em;
}

.game-card:nth-child(3n) {
	margin-left: 1em;
}

.game-card form {
	width: auto;
	display: block;
}

.game-card header {
	width: 100%;
	padding: 0;
	display: block;
	height: 10em;
	border-radius: 8px;
	overflow: hidden;
}

.game-card img {
	display: block;
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.game-card form {
	box-shadow: none;
	margin: 0;
	padding: 0;
}

.game-card footer {
	background-color: white;
}

.liked {
	min-width: 0;
	max-width: 0;
	white-space: nowrap;
	opacity: 0;
}

.like-remove {
	display: none;
}